/* css variables for colors */
:root {
    --PrimaryText: #FFFFFF;
    --secondaryText: #000000;
    --tetiaryText : #808080;

    --primaryColor: #000000;
    --secondaryColor : #000000;
    --tetiaryColor : #000000;

}


body {
    background-color: var(--tetiaryColor);
    font-family:'Playfair Display', serif;
}


.container {
    width: 100%;
    height: 100%;
}

h1,h2,h4,h5,h6,span {
    font-family: 'Bitter', serif;
    font-weight: bold;
    color:var(--PrimaryText);
}

p {
    font-family:'Merriweather', serif;
    color:var(--PrimaryText);
}


/* navigation theme */
.navbar-light {
    background: var(--tetiaryColor);
}

/* section themes */
.card {
    background: var(--tetiaryColor);
    color: var(--PrimaryText);
    border: 1px solid var(--PrimaryText)
}
.card-footer {
    color: var(--PrimaryText)
}
.card-link {
    background: var(--PrimaryText);
}

.git-logo {
    background: white;
}

.icon-1 {
    background:var(--PrimaryText)
}


#About_me {
    border: solid 2px var(--PrimaryText);

}

.logo_name {
    position: relative;
    bottom:0px;
    top: 4.9px;
}

#dp_1 {
    position: relative;
    right:0;
    left: 150px;
}

/* section styling */
.wrapper-1 {
    background-color: var(--primaryColor);
    border-bottom: solid 2px var(--tetiaryColor);
    overflow: auto;
    border-bottom: 1px solid var(--PrimaryText);
}


.wrapper-2 {
    background-color: var(--secondaryColor);
    border-bottom: solid 2px var(--tetiaryColor);
    overflow: auto;
    border-bottom: 1px solid var(--PrimaryText);
}

.wrapper-3 {
    background-color: var(--primaryColor);
    border-bottom: solid 2px var(--tetiaryColor);
    overflow: auto;
    border-bottom: 1px solid var(--PrimaryText);
}

.wrapper-4 {
    background-color: var(--primaryColor);
    border-bottom: solid 2px var(--tetiaryColor);
    overflow: auto;
    border-bottom: 1px solid var(--PrimaryText);
}

.wrapper-5 {
    background-color: var(--secondaryColor);
    border-bottom: solid 2px var(--tetiaryColor);
    overflow: auto;
    border-bottom: 1px solid var(--PrimaryText);
}

.wrapper-6 {
    background-color: var(--secondaryColor);
    overflow: auto;
    border-bottom: 1px solid var(--PrimaryText);
}

/* dot section 
.dot-circle {
    display: flex;
    justify-content: center;
    position:relative;
    left:auto;
    right:80px;
    top: 15px;
    bottom: auto;
} */

.dot {
    height:30px;
    width: 30px;
    background-color: var(--secondaryColor);
    border-radius: 50%;
    cursor: pointer; 
    margin: 5px;
    border : 2px solid black;
    
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
  
}

.dot:hover {
    border-width: 5px;
}

#light-theme {
    background-color:var(--PrimaryText)
}
#grey-theme {
    background-color: var(--tetiaryText);
}
#dark-theme {
    background-color:var(--tetiaryColor)
}



/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #dp_1 {
        position: relative;
        right: 100px;;
        left: 0px; 
    }

    .dot-circle {
        display: flex;
        justify-content: center;
        position:relative;
        left:auto;
        right:81px;
        top: 15px;
        bottom: auto;
    }
    
}

@media (min-width: 576px) {
    #dp_1 {
        position: relative;
        right: 100px;
        left: 0px; 
    }
    .dot-circle {
        display: flex;
        justify-content: center;
        position:relative;
        left:auto;
        right:180px;
        top: 15px;
        bottom: auto;
    }
    

}


/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #dp_1 {
        position: relative;
        right:150px;
        left: 0px; 
    }

    .dot-circle {
        display: flex;
        justify-content: center;
        position:relative;
        left:auto;
        right:60px;
        top: 15px;
        bottom: auto;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #dp_1 {
        position: relative;
        right:0px;
        left:100px; 
    }
    .dot-circle {
        display: flex;
        justify-content: center;
        position:relative;
        left:auto;
        right:10px;
        top: 15px;
        bottom: auto;
    }

}

/*Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #dp_1 {
        position: relative;
        right:0px;
        left:150px; 
    }
    .dot-circle {
        display: flex;
        justify-content: center;
        position:relative;
        left:auto;
        right:80px;
        top: 15px;
        bottom: auto;
    }

}
