<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/"> 

    <!--  Bootstrap files  -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static '/js/bootstrap.js'%}">

    <!-- custom Css -->
    <link  id="style-link" href="static/css/base.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,500;0,700;1,400&family=Merriweather:wght@300;700&family=Playfair+Display:ital,wght@0,700;1,400;1,700&display=swap" rel="stylesheet">

    <title> Portfolio</title>
</head>

<body>
    {% block content %}
    <div class = "container-fluid">
        <!--Navigation bar --> 
        <nav class = "navbar navbar-expand-lg navbar-light">
            <div class ="container-fluid">
                <a class="navbar-brand" href="#">
                <img src="{% static '/images/he_logo.png' %}" alt="logo" width="40" height="40" class="d-inline-block align-text-top">
                <span class="logo_name nav-text"> Hedigitals </span></a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse justify-content-end " id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'portfolio_app:index'%}"><p class="nav-text">Home</p></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="http://hedigitals.com/"><p class="nav-text">Blog</p></a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link active" href="https://drive.google.com/file/d/145UDBY0MoUheHt0uLqVhzccYNdpotdW5/view?usp=sharing"> <p class="nav-text"> Resume </p> </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'portfolio_app:about_me'%}"><p class="nav-text">About Me</p> </a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'portfolio_app:contact'%}"><p class="nav-text">Contact </p></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
            
    
            
        <!-- First page section (title & description) -->
        <section class="wrapper-1">
            <div class="container-fluid p-4 mt-5">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xl-7 mt-4">
                        <img src="{% static 'images/display picture.jpg'%}" alt="my picture" class=" img-responsive rounded-circle img-fluid" width="300" height="300" id="dp_1">
                        <div class="dot-circle">
                            <span data-mode="light" class="dot" id="light-theme"></span>
                            <span data-mode="grey" class="dot" id="grey-theme"></span>
                            <span data-mode="dark" class="dot" id="dark-theme"></span>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-lg-6 col-xl-5 mt-4">
                        <h5> Software developer</h5>
                        <h1 class="display-4"> Muhammad Yekini </h1>
                        <p> Experienced Freelance Web Developer with a demonstrated history of working in the internet industry. Skilled in Cascading Style Sheets (CSS), AngularJS, HTML5, Python (Programming Language), and jQuery. Strong engineering professional with a Bachelor of Technology
                        - BTech focused in Mathematics and Computer Science from the Federal University of Technology Minna.</p>
                        <a href="{% static '/images/Resume.pdf'%}" class="btn btn-success rounded-pill" download><img src="{% static '/images/outline_cloud_upload_black_24dp.png'%}" class="p-1"> Resume</a>
                        <a href="{% url 'portfolio_app:contact'%}" class="btn btn-primary rounded-pill"> Contact </a>
                    </div>
                </div>
            </div>
            
            <!-- Second section (skills) -->
            <div class="container-2 p-4 mt-5">
                <div class="row">
                    <div class="col">
                        <h1 class="display-2"> Skills </h1>
                        <div class="mt-5">
                            <img src="{% static '/images/icons8-html-5-100.png' %}" alt="html" class="float-start rounded-circle bg-dark img-responsive img-fluid">
                            <img src="{% static '/images/icons8-css3-100.png' %}" alt="css" class="float-none rounded-circle bg-dark img-fluid img-responsive">
                            <img src="{% static '/images/icons8-javascript-100.png' %}" alt="javascript" class="float-none rounded- bg-dark img-fluid img-responsive">
                            <img src="{% static '/images/icons8-bootstrap-100.png' %}" alt="bootstrap" class="float-none rounded-circle bg-dark img-fluid img-responsive">            
                            <img src="{% static '/images/icons8-angularjs-100.png' %}" alt="angularjs" class="float-none rounded-circle bg-dark img-fluid img-responsive">
                            <img src="{% static '/images/icons8-jquery-100.png' %}" alt="jquery" class="float-none rounded-circle bg-light img-fluid img-responsive">
                            <img src="{% static '/images/icons8-python-100.png' %}" alt="python" class="float-none rounded-circle bg-dark img-fluid img-responsive">
                            <img src="{% static '/images/icons8-django-100-2.png' %}" alt="django" class="float-none rounded-circle bg-light img-fluid img-responsive">
                            <img src="{% static '/images/icons8-git-100.png' %}" alt="git" class="float-none rounded-circle bg-light img-fluid img-responsive">
                            <img src="{% static '/images/icons8-github-100.png' %}" alt="github" class="float-none rounded-circle bg-light img-fluid img-responsive">
                            <img src="{% static '/images/icons8-heroku-100.png' %}" alt="Heroku" class="float-none rounded-circle bg-light img-fluid img-responsive">
                            <img src="{% static '/images/icons8-amazon-web-services-144.png' %}" alt="django" class="float-none rounded-circle bg-light img-fluid img-responsive" width="100" height="100">
                        </div>
                    </div>
                </div>
            </div>
        </section>

            
       <!-- Third Section (Proficiency level)-->
       <section class="wrapper-2">
           <div class="container-3 p-4 mt-5">
                <h1 class="display-2"> Proficiency Level </h1>
                <div class="row">
                   <div class="col mt-3">
                       <h3> HTML5 </h3>
                       <div class="progress">
                           <div class="progress-bar bg-primary" role="progressbar" style="width: 100%" w-100 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"> 100%</div>
                        </div>
                        
                        <h3> CSS3 </h3>
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                        </div>
                      
                        <h3> JavaScript </h3>
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"> 75%</div>
                        </div>
                    
                        <h3> Bootstrap</h3>
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"> 50%</div>
                        </div>
                        
                        <h3> AngularJS</h3>
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                        </div>
                        
                        <h3> jQuery</h3>
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                        </div>

                        <h3> Python </h3>
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"> 100% </div>
                        </div>
                        
                        <h3> Django </h3>
                        <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
       
        <!-- Fouth section (Education) -->
        <section class="wrapper-3">
            <div class="container-4 p-4 mt-5 ">
                <h1 class="display-1"> Education </h1>
                <div class="row">
                    <div class="col">
                        <div class="card-group mt-3">
                            <!-- Card 1-->
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title"> Federal University of Technology Minna</h4>
                                    <h6 class="subtitle"> B.TECH Mathematics and Statistics</h6>
                                    <a href="#" class=" card-link btn btn-light"> 2014 - 2019 </a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text"> Participated in projects </p>
                                    <ul class="list-group">
                                        <li class="list-group-item"> Mathematical Modelling of infectious diseases</li>
                                    </ul>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text"> Second-class lower</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </section>
    
        
         <!--Fifth section (Experience)-->
        <section class="wrapper-4">
            <div class="container-5 p-4 mt-5">
                <h1 class="display-2"> Experience</h1>
                <div class="row mt-3">
                    <!-- 1st card -->
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-header">
                                <h5 class="card-title"> Fiverr. Part-time</h5>
                            </div>
                            <div class="card-body">
                                <!--<img src="{% static '/images/fiverr-1.png' %}" width="295" height="298" class="card-img-top img-responsive"/> -->
                                <h5 class="card-subtitle mb-2"> Freelance Web Developer</h5>
                                <a class="card-link btn btn-light" href="#"> Jan 2020 - Present . 2yrs 1 mo</a>
                                <p class="card-text"> Planned website development, converting mockups into usable web Applications with HTML, CSS, JavaScript(Angular), Python and Django.
                                    Provided front-end website development using HTML/CSS, Bootstrap and other frameworks
                                    Multi-tasked across multiple functions and roles to generate project results and meet deadlines and organizational expectations.</p>
                            </div>
                        </div>
                    </div>
                    
                    <!-- 2nd card -->
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-header">
                                <h5 class="card-title "> Nigerian National Petroleum Corporation- Internship </h5>
                            </div>
                            <div class="card-body">
                                <!-- <img src="{% static '/images/nnpc_logo_2.png' %}" class="card-img-top img-responsive" width="295" height="298"/> -->
                                <h5 class="card-subtitle mb-2">Data Entry Assistant (Planning & Budget Monitoring Department)</h5>
                                <a class="card-link btn btn-light mb-2" > Oct 2018 - Dec 2018 . 3mos</a>
                                <p class="card-text">Preparing and sorting documents for data entry
                                    Entering data into database software and checking to ensure the accuracy of the data
                                    Resolving discrepancies in information and obtaining further information for incomplete documents
                                    Creating data backups as part of a contingency plan
                                    Responding to information requests from authorised members</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        
         
        <!-- Sixth Section (Projects) -->
        <section class="wrapper-5">
            <div class="container-6 p-4 mt-5 ">
                <h1 class="display-2"> Projects </h1>
                <div class="row">
                    <div class="col mt-2">

                        <!-- 1st project-->
                        <div class="card mb-3 " style="max-width: 18rem;">
                            <!--<div class="card-header">Header</div> -->
                            <div class="card-body">
                              <h5 class="card-title">Tech Blog</h5>
                              <p class="card-text"> A software development blog for insights in the tech industry and programming language tutorials</p>
                              <div class="row">
                                  <div class="col-6">
                                      <a href="" class=" card-link btn btn-light"> Demo </a>
                                  </div>
                                  <div class="col-6">
                                      <a href="#" class=" card-link btn btn-light"><img src="{% static '/images/icons8-github-100.png'%}" class="img-responsive img-fluid git-logo" alt="github" width="50" height="40" border="0"/></a> 
                                  </div>
    
                              </div>
                            </div>
                            <div class="card-footer ">
                                <div class="row">
                                    <div class="col"> HTML</div>
                                    <div class="col"> css3</div>
                                    <div class="col"> Bootstrap</div>
                                    <div class="col"> Javascript</div>
                                    <div class="col"> Python (Django)</div>
                                </div>
                            </div>
                          </div>
                    </div>
                    
                    <!-- 2nd project-->
                    <div class="col mt-2">
                        <div class="card mb-3" style="max-width: 18rem;">
                            <!--<div class="card-header">Header</div> -->
                            <div class="card-body">
                              <h5 class="card-title"> Portfolio Website </h5>
                              <p class="card-text"> highlights my resumes, skills i'm proficient in , my education and experience as well as Projects i've worked on</p>
                              <div class="row">
                                <div class="col">
                                    <a href="#" class="card-link btn btn-light"> Demo</a>
                                </div> 
                                <div class="col">
                                   <a href="https://github.com/myekini/portfolio-website" class="card-link btn btn-light"><img src="{% static '/images/icons8-github-100.png'%}" class="img-responsive img-fluid" alt="github" width="50" height="40" border="0"/></a> 
                                </div>
                              </div>
                            </div>
                            <div class="card-footer ">
                                <div class="row">
                                    <div class="col"> HTML</div>
                                    <div class="col"> css3</div>
                                    <div class="col"> Bootstrap</div>
                                    <div class="col"> Javascript</div>
                                    <div class="col"> Python(Django)</div>
                                </div>
                            </div>
                        </div>
                    </div>  
                    
                    <!-- 3rd project-->
                    <div class="col mt-2">
                        <div class="card mb-3" style="max-width: 18rem;">
                          <!-- <div class="card-header">Header</div>  -->
                            <div class="card-body">
                              <h5 class="card-title"> Space shooter </h5>
                              <p class="card-text"> 3D space alien invasion game</p>
                              <div class="row">
                                <div class="col">
                                    <a href="#" class=" card-link btn btn-light"> Demo</a></div>
                                <div class="col">
                                   <a href="#" class=" card-link btn btn-light"><img src="{% static '/images/icons8-github-100.png'%}" class="img-responsive img-fluid rounded-circle" alt="github" width="50" height="40" border="0"/></a> 
                                </div>
                              </div>
                            </div>
                            <div class="card-footer ">
                                <div class="row">
                                    <div class="col"> Python </div>
                                    <div class="col"> Pygame </div>
    
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 4th project-->
                    <div class="col mt-2">
                        <div class="card mb-3 " style="max-width: 18rem;">
                           <!-- <div class="card-header">Header</div> -->
                            <div class="card-body">
                              <h5 class="card-title">Email Validation</h5>
                              <p class="card-text"> Responsive image validation layout</p>
                              <div class="row">
                                  <div class="col"><a href="#" class="card-link btn btn-light"> Demo</a></div>
                                  <div class="col">
                                   <a href="https://github.com/myekini/JS-Email-Validation" class=" card-link btn btn-light"><img src="{% static '/images/icons8-github-100.png'%}" class="img-responsive img-fluid" alt="github" width="50" height="40" border="0"/></a> 
                                  </div>
                              </div>
                            </div>
    
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col"> HTML</div>
                                    <div class="col"> css3</div>
                                    <div class="col"> Javascript</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- 5th project-->
                    <div class="col mt-2">
                        <div class="card mb-3 dark-theme" style="max-width: 18rem;">
                          <!--<div class="card-header">Header</div> -->
                            <div class="card-body">
                              <h5 class="card-title"> World population</h5>
                              <p class="card-text"> Data visualization of populations around the world</p>
                              <div class="row">
                                <div class="col"><a href="#" class=" card-link btn btn-light"> Demo</a></div>
                                <div class="col">
                                   <a href="#" class="card-link btn btn-light"><img src="{% static '/images/icons8-github-100.png'%}" class="img-responsive img-fluid rounded-circle" alt="github" width="50" height="40" border="0"/></a> 
                                </div>
                              </div>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col"> Python</div>
                                    <div class="col"> Request </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- 6th project-->
                    <div class="col mt-2">
                        <div class="card mb-3 dark-theme" style="max-width: 18rem;">
                          <!--<div class="card-header">Header</div> -->
                            <div class="card-body">
                              <h5 class="card-title"> Text Analyzer</h5>
                              <p class="card-text"> performs text analysis on txt file and results the word counts, re-occurance of words, word frequency. etc</p>
                              <div class="row">
                                <div class="col"><a href="#" class=" card-link btn btn-light"> Demo</a></div>
                                <div class="col">
                                   <a href="https://github.com/myekini/Text-Analyzer" class="card-link btn btn-light"><img src="{% static '/images/icons8-github-100.png'%}" class="img-responsive img-fluid rounded-circle" alt="github" width="50" height="40" border="0"/></a> 
                                </div>
                              </div>
                            </div>
                            <div class="card-footer ">
                                <div class="row">
                                    <div class="col"> Python</div>
                                    <div class="col"> Request </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Seventh section (contact me) -->
        <section class="wrapper-6">
            <div class="container-7 p-4 mt-5">
                <div class="row">
                    <div class=" col-sm-6 col-md-9 col-lg-9">
                        <h2 class="display-2"> Hire Me!</h2>
                        <p>DISCUSS A PROJECT? MY INBOX IS OPEN FOR ALL</p>
                        <p> I'm a Python Core Developer| Mobile Web Specialist</p>
    
                        <a href="https://goo.gl/maps/UPwsXfEBP5Beax5N9" class=" button-1 btn btn-light"><img src="https://img.icons8.com/material-outlined/50/000000/marker.png" width="30" height="30"/>Lagos,Nigeria</a>
    
                        <div class="row mt-2">
                            <div class="col-sm-2 col-md-1 col-lg-1 col-xl-1">
                               <a class="button-1" href="https://twitter.com/MYekini"> <img src="{% static '/images/icons8-twitter-100.png'%}" alt="twitter" width="40" height="40" class="rounded-circle icon-1"/></a>
                            </div>
    
                            <div class="col-sm-2 col-md-1 col-lg-1 col-xl-1">
                               <a href="https://www.linkedin.com/in/muhammad-yekini-90ba8bab/" class="button-1"><img src="{% static '/images/icons8-linkedin-100-2.png'%}" alt="linkedin"  width="40" height="40" class="rounded-circle icon-1"/></a> 
                            </div>
    
                            <div class="col-sm-2 col-md-1 col-lg-1 col-xl-1">
                               <a href="https://github.com/myekini"><img src="{% static '/images/icons8-github-100.png'%}" alt="github"  width="40" height="40" class="rounded-circle icon-1"/></a> 
                            </div>
    
                            <div class="col-sm-2  col-md-1 col-lg-1 col-xl-1">
                               <a href="https://stackoverflow.com/users/15603225/myekini" class=""><img src="{% static '/images/icons8-stack-overflow-100-2.png'%}" alt="stack-overflow"  width="40" height="40" class="rounded-circle icon-1"/></a>         
                            </div>
    
                            <div class="col-sm-2 col-md-1 col-lg-1 col-xl-1">
                              <a href="https://www.facebook.com/muhammad.yekini/" class=""><img src="{% static '/images/icons8-facebook-100.png'%}" alt="facebook"  width="40" height="40" class="rounded-circle icon-1"/></a>          
                            </div>
                        </div>     
                    </div>

                    <div class=" col-sm-6 col-md-3 col-lg-3 mt-4">
                        <img src="{% static 'images/he_logo.png'%}" alt="my picture2" class=" img-responsive rounded-circle img-fluid" width="200" height="200" id="my_dp2"/>
                    </div>
                </div>
            </div>
        </section>
        
    </div>
    
    <script src="{% static '/js/base.js' %}"></script>
    {% endblock content %}
</body>
</html>